body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.recorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.recorder .recorder-mic {
  display: none;
}

.recorder .recorder-btn {
  width: 400px;
  height: 400px;
  line-height: 400px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 4rem;
}

.recorder .recorder-btn.play {
  animation-duration: 1.2s;
  animation-name: moving-btn;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moving-btn {
  from {
    transform: scale(0.875);
  }
  to {
    transform: scale(1);
  }
}

.recorder .recorder-btn.stop {
  background-color: grey;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card > .user-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card > .user-card-info > h3 {
  margin: 0.2em;
  font-weight: 500;
}

.user-card > .user-card-info > h3:first-of-type span {
  font-weight: unset;
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-size: 0.75em;
}
.user-card-info > h3:nth-of-type(2) {
  font-weight: unset;
}

.user-card-info > h3:nth-of-type(2) span {
  font-style: initial;
  font-weight: bold;
  border-bottom: 3px solid red;
}
