body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  margin: 30px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card > .user-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card > .user-card-info > h3 {
  margin: 0.2em;
  font-weight: 500;
}

.user-card > .user-card-info > h3:first-of-type span {
  font-weight: unset;
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-size: 0.75em;
}
.user-card-info > h3:nth-of-type(2) {
  font-weight: unset;
}

.user-card-info > h3:nth-of-type(2) span {
  font-style: initial;
  font-weight: bold;
  border-bottom: 3px solid red;
}
